<section class="fh5co-about-me">
    <div class="about-me-inner site-container">
        <article class="portfolio-wrapper">
            <div class="portfolio__img">
                <img src="https://iasbh.tmgrup.com.tr/9f3151/366/218/163/0/780/366?u=https://isbh.tmgrup.com.tr/sbh/2018/01/18/nietzsche-kimdir--1516276810461.jpg" class="about-me__profile" alt="about me profile picture">
            </div>
            <div class="portfolio__bottom">
                <div class="portfolio__name">
                    <span>N</span>
                    <h2 class="universal-h2">ietzsche</h2>
                </div>
                <p>
                    İnançlar hakikat düşmanları olarak, yalanlardan daha tehlikelidir.
                </p>
            </div>
        </article>
        <div class="about-me__text">
            <div class="about-me-slider">
                <div class="about-me-single-slide">
                    <h2 class="universal-h2 universal-h2-bckg">Nietzsche Hakkında</h2>
                    <p><span>F</span>riedrich Wilhelm Nietzsche, Alman filolog, filozof, kültür eleştirmeni, şair ve besteci. Din, ahlâk, modern kültür, felsefe ve bilim üzerine metafor, ironi ve aforizma dolu bir üslupla eleştirel yazılar yazmıştır.</p>
                    <h4>Nietzsche</h4>
                    <p class="p-white">Kaydır Beni</p>
                </div>
                <div class="about-me-single-slide">
                    <h2 class="universal-h2 universal-h2-bckg">Bilgi</h2>
                    <p>
                        <span>N</span>ietzsche
                        Doğum tarihi: 15 Ekim 1844, Röcken, Lützen, Almanya<br>
                        Ölüm tarihi ve yeri: 25 Ağustos 1900, Weimar, Almanya<br>
                        Etkilendiği kişi: Immanuel Kant, Arthur Schopenhauer, Platon..<br>
                        Eğitim: Leipzig Üniversitesi (1865–1869)..<br>
                        Kardeşleri: Elisabeth Förster-Nietzsche, Ludwig Joseph Nietzsche
                    </p>
                    <h4>Nietzsche</h4>
                    <p class="p-white">Kaydır Beni</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-bckg"></div>
</section>