@{
    Layout = null;
}

<!doctype html>
<html>
<head>

    <style>

        h1, p {
            text-align: center;
        }
    </style>


    <title>İstiklal Marşı</title>
</head>

<body>
    <br />
    <br />
    <br />
    <div>
        <h1 style="color: red">İstiklal Marşı</h1>

        <br>

        <p>Korkma, sönmez bu şafaklarda yüzen al sancak;</p>
        <p>Sönmeden yurdumun üstünde tüten en son ocak.</p>
        <p>O benim milletimin yıldızıdır, parlayacak;</p>
        <p>O benimdir, o benim milletimindir ancak.</p>

        <br>

        <p>Çatma, kurban olayım çehreni ey nazlı hilâl!</p>
        <p>Kahraman ırkıma bir gül… ne bu şiddet bu celâl?</p>
        <p>Sana olmaz dökülen kanlarımız sonra helâl,</p>
        <p>Hakkıdır, Hakk’a tapan, milletimin istiklâl.</p>

        <br>
        <center>
            <a target="_blank" style="text-decoration: none;" href="http://mehmetakifersoy.com.tr/">Mehmet Âkif Ersoy</a>
        </center>
        <br />
        <br />
        <center>
            <img class="bayrak" src="~/dist/images/TürkBayrağı.gif">
        </center>
    </div>
</body>
</html>

