 <!-- Counter -->
<div class="fh5co-counter counters">
    <div class="counter-inner site-container">
        <div class="single-count">
            <span class="count" data-count="@ViewBag.CountOfBooks">0</span>
            <div class="single-count__text">
                <img src="~/dist/images/counter-1.png" alt="counter icon">
                <p>Kİtap</p>
            </div>
        </div>
        <div class="single-count">
            <span class="count" data-count="@ViewBag.CountOfAuthors">0</span>
            <div class="single-count__text">
                <img src="~/dist/images/counter-2.png" alt="counter icon">
                <p>Yazar</p>
            </div>
        </div>
        <div class="single-count">
            <span class="count">@ViewBag.TotalPrice TL</span>
            <div class="single-count__text">
                <img src="~/dist/images/counter-3.png" alt="counter icon">
                <p>Toplam FİYAT</p>
            </div>
        </div>
        <div class="single-count">
            <span class="count" data-count="@ViewBag.CountOfCategories">0</span>
            <div class="single-count__text">
                <img src="~/dist/images/counter-4.png" alt="counter icon">
                <p>KATEGORİLER</p>
            </div>
        </div>
    </div>
</div>
<!-- Counter -->