<section class="fh5co-top-banner">
    <div class="top-banner__inner site-container">
        <div class="top-banner__image">
            <img style="width: 500px; height: 500px; margin-bottom: 16px" src="https://hadikarimi.com/wp-content/uploads/2019/04/Nietzsche2.jpg" alt=" book image ">
        </div>
        <div class="top-banner__text">
            <div class="top-banner__text-up">
                <h2 class="top-banner__h2">Friedrich</h2>
            </div>
            <div class="top-banner__text-down">
                <h2 class="top-banner__h2">Nietzsche</h2>
            </div>
            <p>İnsan ağaca benzer. Ne kadar yükseğe ve aydınlığa çıkmak isterse, o kadar kök salar yere, aşağılara, karanlığa, derinlere, kötülüğe.</p>
            <center>
                <a href="/Home/Books/" class="brand-button">KİTAP LİSTEM</a>
            </center>
        </div>
    </div>
</section>