@using EntityLayer.Concrete
@model List<Author>

@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    @await Component.InvokeAsync("_AuthorHeadPartial")
   
</head>
<body>
    <br />
    <center>
        <h2 style="color: #936231;">Yazarlar</h2>
    </center>
    <br />
    <br />
    <table>
        <tr>
            <th>Yazar</th>
            <th>Ülke</th>
            <th>Doğum Tarihi</th>
            <th>Durum</th>
            <th>Durum Değiştir</th>
            <th>Detaylar</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AuthorNameSurname</td>
                <td>@item.AuthorCountry</td>
                <td>@item.AuthorBirthday</td>
                @if (item.Status == false)
                {
                    <td style="text-align:center; color: red;">Pasif</td>
                }
                else
                {
                    <td style="text-align:center; color: green;">Aktif</td>
                }
                @if (item.Status == true)
                {
                    <td style="text-align:center"><a href="/Author/PassiveAuthor/@item.AuthorID" class="btn btn-secondary">Pasif Et</a></td>

                }
                else
                {
                    <td style="text-align:center"><a href="/Author/ActiveAuthor/@item.AuthorID" class="btn btn-success">Aktif Et</a></td>
                }
                <td>
                    <a href="~/Author/EditAuthor/@item.AuthorID" style="text-decoration: none; color: white" class="books-form-btn">
                        <span>
                            Detay
                        </span>
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />
    <a href="/Author/AddAuthor/" class="btn btn-info">Yazar Ekle</a>
</body>
</html>